* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: red;
    height: 10%;
}
main {
    flex: 1;
}
footer {
    background-color: green;
    height: 20%;
    color: red;
}
img {
    margin: 10px;
    height: calc(100% - 20px);
    width: 5%;
}
.about {
    width: 50%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 0%;
}
.about button {
    background-color: green;
    width: 10%;
    height: calc(100% - 40px);
    border: 5px solid green;
    margin-top: 20px;
}
.about button:hover {
    background-color: white;
}